body{
    background-color: rgb(0, 0, 0);
}
h1{
    color: rgb(89, 255, 0);
}
h2{
    color: rgb(255, 162, 0);
    border: 20px solid rgb(0, 19, 223);
    background-color: rgb(0, 19, 223);
    box-shadow: 0 16px 32px 0 rgb(0, 21, 255);
    border-radius: 30px;
}
.GG{
    width: 1100px;
    border: 2px solid rgb(0, 19, 223);
    outline: rgb(89, 255, 0) dotted thick ;
    box-shadow: 0 16px 32px 0 rgb(30, 255, 0);
    border-radius: 50px;
}
.gh{
    color: rgb(89, 255, 0);
    text-decoration: none;
}
.ggf{
  color:  rgb(255, 0, 0);
  background-image: linear-gradient(45deg, #00ff62 0%, #ffd000 50%, #0055ff 100%);
  box-shadow: 0 16px 32px 0 rgb(255, 0, 0);
  border-radius: 10px;
}
.ttty{
    color: aqua;
}
.tttr{
    color: aqua;
}
.jjj{
    outline: rgb(89, 255, 0) dashed;
    box-shadow: 0 16px 32px 0 rgb(234, 255, 0);
    border-radius: 30px;
}
.jjjk{
    outline: rgb(89, 255, 0) dashed;
    box-shadow: 0 16px 32px 0 rgb(234, 255, 0);
    border-radius: 30px;
}




.pressed-button {
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #00ff62 0%, #ffd000 50%, #0055ff 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: rgb(255, 157, 0);
    box-shadow: 0 16px 32px 0 rgb(234, 255, 0);
    transition: .5s;
}
  .pressed-button:hover {
    box-shadow: 0 0 0 0 rgb(255, 0, 0);
    background-position: 0 0;
  }















  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    margin: 100px;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
  
  